<script src="https://giscus.app/client.js"
        data-repo="nOctaveLay/current-blog"
        data-repo-id="R_kgDONDT6iQ"
        data-category="Comments"
        data-category-id="DIC_kwDONDT6ic4Cj9Lb"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>

<div class="giscus"></div>
